/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .1);
}

.image img {
  display: block;
  width: 100%;

}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 40px auto;
  width: auto;
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


.wrapper {
  overflow: hidden;
  padding: 0 0 5em 0;

}

#wrapper1 {
  /*background: #FFF;*/
}

#wrapper2 {
  /*background: #F3F3F3;*/
  text-align: center;
  padding: 0 0 0;
}

.tools {
  padding-top: 30px;
  font-size: 4em;
  position: center;
}

.tools span {

  margin: 0;
  padding: 0;
}

.title-body {
  background-color: #16A085;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  box-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;
  margin-bottom: 30px;
}


.tools a {
  display: inline-block;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color:  #16A085;
  margin: 20px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;

}

.container1, .container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  align-content: space-around;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;

}

.tools a:hover {
  display: inline-block;
  background: none;
  transform: scale(1.5);
  text-align: center;
  color: lightcoral;

}

#portfolio .box {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#portfolio h3 {
  display: block;
  padding-bottom: 1em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
}


#portfolio .title h2 {
  color: rgba(0, 0, 0, 0.8);
}

.column1,
.column2,
.column3,
.column4 {
  width: auto;
}

.column1,
.column2,
.column3 {
  float: left;
  margin-right: 80px;
  margin-left: 50px;
  padding: 3em 0;
}

#page-wrapper {
  overflow: hidden;
  /*background: #F3F3F3;*/
  padding: 3em 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

#icon1,
#icon2,
#icon3 {
  display: inline-block;
  background: #16A085;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 .2em;
  font-size: 4em;
  position: center;
  text-shadow:	0 1px 2px rgba(255,255,255,0.5),
  0 -2px 4px rgba(0,0,0,0.5);
}

#icon1:hover,
#icon2:hover,
#icon3:hover {
  display: inline-block;
  background: #16A085;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  color: lightcoral;
  padding: 0 .2em;
  font-size: 4em;
  position: center;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 20px;
  background: transparent;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  perspective: 500px;
  transition: .2s;

}

.icon {
  box-sizing: unset;
  margin-left: 10px;
}

.button:last-of-type {
  margin-right: 0;
}

.button span {
  position: relative;

}

.button:before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#16A085;
  transform-origin: left;
  transition: .5s;
  border-radius: 10px;
}

.button:hover {
  color: #16A085;
  border-color: #16A085;
}

.button:hover:before {
  transform: rotateY(94deg);
}

.title-form {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Helvetica, serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;
}

.animation1 {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: frames(4);
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.animation2 {
  -webkit-animation: slit-out-vertical 0.5s ease-in both;
  animation: slit-out-vertical 0.5s ease-in both;
}

@-webkit-keyframes slit-out-vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    opacity: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes slit-out-vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    opacity: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
}

.animation-tooltip {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
