* {
  margin: 0;
  box-sizing: border-box;

}

.container-body {
  min-height: 100vh;

}

.top-icon {
  color: #34495E;
  font-size: 50px;
  text-shadow: #1ABC9C;
}

.image-top:hover {
  cursor: pointer;
}

.container-top {
  display: flex;
  align-content: center;
  flex: border-box;
  margin: 20px;
  justify-content: center;
}

.button-con {

}

.table {
  margin-bottom: 50px;
  border: #7a7c7f 2px solid;
}

.element-td {
  font-size: large;
  text-decoration-style: solid;
  color: #7a7c7f;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.element-td:hover {
  background: #b9b9b9;
  border-radius: 5px;
  color: #1ABC9C;
  cursor: grabbing;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  color: #FFFFFF;
  padding: 0.8em;
  transition: .2s;

}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform-origin: left;
  transition: .5s;
  border-radius: 10px;

}

.button-get:before {
  background: #0B1B48;
}

.button-get {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  perspective: 500px;

}

.button-disable:before {
  background: #EE4D68;
}

.button-disable:hover {
  color: #EE4D68;
  border-color: #EE4D68;
  cursor: pointer;
}

.button-activate:before {
  background: linear-gradient(to top left, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;;
}

.button-activate:hover {
  color: #1ABC9C;
  border-color: #1ABC9C;
  cursor: pointer;
}

.button span {
  position: relative;
  z-index: 2;
}

.button-get:hover {
  color: #0B1B48;
  border-color: lightcoral;
  cursor: pointer;
}

.button:hover:before {

  transform: rotateY(94deg);
}

li {
  list-style: none;
}

::ng-deep .mat-paginator-container {
  background: linear-gradient(to top left, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;

}

::ng-deep #cdk-overlay-0 > div > div {
  background: lightcoral !important;
}

fa-icon {
  margin-right: 3px;
}

.container-single-content {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.container-modal {
  padding: 20px;
  border: 1px solid #888;
  background: transparent !important;
  border-radius: 2%;
  margin: 2%;
}

.button-disable {
  left: 50%;
}

::ng-deep .container-single-content > .container-modal > app-single-divice-forsale > .container-body {
  background: white !important;
  border-radius: 5px;
}

.close {
  padding-left: 7.5px;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #1ABC9C;
}

.close:hover {
  color: #c54040;
  cursor: pointer;
}

.close-modal {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0s both;
  animation: fade-out-bck 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0s both;
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}

@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
