.icon-input {
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Предпочтительный размер иконок */
  display: inline-block;
  color: #34495E;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Поддержка всеми WebKit браузерами */
  text-rendering: optimizeLegibility; /* Поддержка Safari и Chrome */
  -moz-osx-font-smoothing: grayscale; /* Поддержка Firefox. */
  font-feature-settings: 'liga'; /* Поддержка IE. */
}

* {
  margin: 0;
}

.routed-container {

}

.animation-clear {
  display: block;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom right, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;

}

body {
  z-index: 5 !important;
}

::ng-deep router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

