.alert-box {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  border-radius: 10px;
  min-height: 60%;
  max-width: 40%;
  min-width: 30%;
  max-height: 70%;
  display: block;
  animation-name: alert;
  animation-duration: 1s;
  transition: margin-top;
  animation-fill-mode: backwards;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;

}

.close {
  width: 30px;
  height: 30px;
  background: #fff !important;
  color: #000 !important;
  box-shadow: 0 2px 5px 0 #222b3c;
  padding: .2em;
  border-radius: 50px;
  display: flex;
  position: absolute;
  font-size: 2.1em;
  border: none;
  right: -20px;
  top: -10px;
}

.x-alert {
  margin-top: -15px;
  size: 20px;
  cursor: pointer;
}

.x-alert:hover {
  color: #06D85F;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes alert {
  0% {
    left: 0;
    top: -20%;
  }
  50% {
    left: 0;
    top: 0;
  }

}

.overlay:target {
  visibility: visible;
  opacity: 90%;
}

.popup-header {
  height: 25%;
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
  position: relative;
  text-align: center;
}

.body-alert {
  position: relative;
  height: 50%;

}

.body-alert p {
  text-align: center;
}

.footer {
  margin-top: -2px;
  height: 28%;
  background: #FFFFFF;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;

}

.footer {

}

.button-container {
  padding-top: 30px;
  text-align: center;
}

.icon-shadow {

}

#icon-1,
#icon-2,
#icon-3 {
  font-size: 70px;
  margin-top: 2%;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;

}

.body-alert .icon-box {
  text-align: center;

}

#icon-info {
  color: #00E4F6;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;
}


.body-alert {
  display: block;
  margin-top: 0;
  background: #FFFFFF;

}


.titleFuni,
.valError,
.errorMessage,
.titleError,
.status-error {
  padding-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Georgia, serif;
  letter-spacing: -0.8px;
  word-spacing: 6px;
  text-decoration: none;
  font-variant: small-caps;
  margin: 0;
  text-align: center;

  text-shadow: -0.005em 0.005em 0.01em gray, -0.012em 0.01em 0.025em white, -0.02em 0.02em 0 gray, -0.025em 0.022em 0 currentColor;
}

.errorMessage {
  font-size: 15px;
  text-transform: uppercase;
  color: #5b5a61;
  font-weight: bold;
  font-family: Georgia, serif;
  letter-spacing: -0.8px;
  word-spacing: 6px;
  text-decoration: none;
  font-variant: small-caps;
}

.status {
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s;
  font-size: 25px;
}

.button {
  position: relative;
  align-content: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 20px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  perspective: 500px;
  transition: .2s;
  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.button span {
  position: relative;
  z-index: 2;

}

.button:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: .4s;
  border-radius: 10px;
  cursor: pointer;
}


.button:hover:before {
  transform: rotateY(94deg);
}


.button:before {
  background: #00E4F6;
  border: 1px solid #00E4F6;
  cursor: pointer;
}


.button:hover {
  color: #00E4F6;
  border-color: #00E4F6;
  cursor: pointer;
}
