h1, h2, h3, h4, p, img {
  margin: 0;
}


h2 {
  font-size: 16pt;
  font-weight: 500;
}

p {
  font-size: 12pt;
}

.items-group {
  border-style: solid;
  border-color: black;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 5pt;
  padding: 3pt 3pt 3pt 3pt;
  margin: 9pt 0 9pt 0;
}

.logotipo {
  width: 6cm;
  height: 4cm;
  margin: -0.5cm;
}

.label {
  font-weight: 500;
}

.disclaimer, .address p {
  font-size: 10pt;
}

.signature-field {
  padding-bottom: 24pt;
  border-bottom: solid black 1pt;
}

.head-doc {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 5px;
}


.row-test {
  border-left: solid black 1pt;
  border-top: solid black 1pt;
  border-radius: 10pt;
  border-right: solid black 1pt;
  padding: 9pt 0 24pt 9pt;
  border-bottom: solid black 1pt;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.col-test-1,
.col-test-2 {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  width: 48%;
}

.logotipo {
  grid-area: logo;
}

.cliente-label {
  grid-area: clt-lbl;
}

.modal-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.container-page {
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background: white;
  margin: 5% 10%;
}

.close {
  margin: 20px;
  font-size: 10px;
}

.close:hover {
  background: #EE4D68;
  cursor: pointer;
  color: #1d72f3;

}

.x {
  margin: 50% auto;
  color: #2bde3f;
}
