.search_form {

  box-sizing: border-box;
  margin: 10px;
  max-height: 50%;
}

* {
  margin: 0;
  box-sizing: border-box;

}

.button {
  position: absolute;
  margin-left: 80%;
}

.container-search-form {
  position: relative;
  display: flex;
  align-items: center;
  height: 20em;
}

.container-search-form .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom right, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;
  border-radius: 50%;
  transition: all 1s;
  z-index: 2;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

}

.container-search-form .search:hover {
  cursor: pointer;
}

.container-search-form .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.container-search-form .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container-search-form input {
  font-family: 'Dancing Script', "Font Awesome 5 Free", serif;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: linear-gradient(to bottom right, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;
  color: white;
  text-shadow: 0 0 10px #1ABC9C;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 #1ABC9C, 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.container-search-form input:hover {
  cursor: pointer;
}

.container-search-form input:focus {
  width: 400px;
  opacity: 1;
  cursor: text;
}

.container-search-form input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.container-search-form input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container-search-form input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.container-search-form input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.button {
  position: relative;
  align-content: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 20px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  perspective: 500px;
  transition: .2s;
}

.button {
  margin: auto;
}

.button span {
  position: relative;
  z-index: 2;
}

.button:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-origin: left;
  transition: .5s;
  cursor: pointer;
}

.button:hover {
  color: #1ABC9C;
  border-color: #1ABC9C;
  cursor: pointer;
}

.button:hover:before {
  transform: rotateY(94deg);
}

.button:before {
  background: linear-gradient(to bottom right, hsl(179, 34%, 48%) 0%, hsl(155, 72%, 61%) 100%) !important;
  cursor: pointer;
  visibility: visible;
}


#form-hide {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {

    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

#show-form {
  display: block;
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

#show-button {
  opacity: 0;
}
