
.container-drag {
  max-width: 90% !important;
  min-width: 500px;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  -webkit-box-align: baseline;
  align-items: baseline;
  align-content: flex-start;
  max-height: 13.3em !important;

  box-sizing: border-box;
}

ngx-dropzone {
  display: block;
  box-sizing: content-box;
  min-width: 100% !important;
  position: relative;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0.50em;
  margin: 0.5em 0em;
  padding: 1em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-size: 1em;
  outline: none;
}






